  <footer class="page-footer yellow darken-1">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="yellow-text text-lighten-3" href="http://kirstenhumphreys.com">Kirsten</a>
      </div>
    </div>
</footer>







