
  <nav class="yellow darken-1" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Clever Canine Club</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="/items/">Cart</a></li>
      </ul>
    </div>
  </nav>
