<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

  <body>
    <% include partials/header %>

  <div class="parallax-container">
        <div class="parallax"><img src="/images/happy_canine.png"></div>
    </div>
        <div class="section white">
            <h1 class="header center yellow-text text-darken-1">Welcome to Clever Canine Club!</h1>
          <div class="row center">

          </div>
          <div class="row center">
          <h4>How It Works:</h4>

                <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">list</i></h2>
                <h5 class="center">Canine Size</h5>

                <p class="light">Packages catered specifically for your dog size. </p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">replay</i></h2>
                <h5 class="center">How often?</h5>

                <p class="light">Plans include six month, three month, and one month.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">business</i></h2>
                <h5 class="center">Shipped straight to you!</h5>

                <p class="light">No hassle, direct to your door.</p>
              </div>
            </div>
          </div>

            <a href="/signup" id="download-button" class="btn-large waves-effect waves-light yellow darken-1">Get Started</a>
          </div>
          <br><br>
        </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/wind_canine.png"></div>
    </div>


    <% include partials/footer%>

</body>


</html>
