body {
  padding: 0px;
  font: 14px "Roboto Slab", serif;

}

i {
  font-size: 2rem;
}

a {
  color: black;
}

h5 {
  font-family: 'Lobster', cursive;
}

footer {
  padding: 0px;
}

main {
  padding-bottom: 150px;

}

.subscriptions {
  padding: 20px;
  margin: 0 auto;
  text-align: left;

}

.brand-logo {
  padding: 10px;
}

.form {
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  border: 3px solid #fdd835;
  border-radius: 10px;
  background-color:;
}

.buttons {
  padding: 20px 0 20px 5px;


}



