
  <div class="form-group">
  <label for="title">Subscription Type:</label>
  <select
         class="form-control"
         name="title"
         value="<%= item.title %>">
          <option value="Small Canine">Small Canine</option>
          <option value="Medium Canine">Medium Canine</option>
          <option value="Large Canine">Large Canine</option>
  </select>
  </div>
</div>

  <div class="form-group">
  <label for="title">Plan Type:</label>
  <select
         class="form-control"
         name="plan"
         value="<%= item.plan %>">
          <option value="One Month">One Time Thing</option>
          <option value="Three Months">Renew Every Three Months</option>
          <option value="Six Months">Renew Every Six Months</option>
  </select>
  </div>
</div>

<div class ="form-group">
  <p>
  <input type="checkbox" id="test5" name="inCart" />
  <label for="inCart">In Cart</label>
  <%= item.inCart ? 'checked' : '' %>
  </p>
</div>









