
  <div class="form-group">
  <label for="title">Title ABC</label>
  <select
         class="form-control"
         name="title"
         value="<%= item.title %>">
          <option value="Small Canine">Small Canine</option>
          <option value="Medium Canine">Medium Canine</option>
          <option value="Large Canine">Large Canine</option>
  </select>
</div>


<div class="form-group">
  <label for="title">Title</label>
  <input type="text"
         class="form-control"
         name="title"
         value="<%= item.title %>">
</div>


<div class="form-group">
  <label for="plan">Plan</label>
  <input type="text"
         class="form-control"
         name="plan"
         value="<%= item.plan %>">
</div>

<div class ="form-group">
  <p>
  <input type="checkbox" id="test5" name="inCart" />
  <label for="inCart">In Cart</label>
  <%= item.inCart ? 'checked' : '' %>
  </p>
</div>









