<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>


  <main class="container">
    <div class="order">
      <img class="dog-pic" src="/images/dog.png">
      <h4>Yay, your order has been placed!</h4>

      <p>What your getting:</p>
      <% items.forEach(function(item) { %>
        <h5>
          <form method="POST" action="/items/<%= item._id %>?_method=DELETE">
          <a href="/items/<%= item._id %>">
        <%= item.title %>
        </a>
        </h5>
        <h6> <%= item.plan %> </h6>
      <% }) %>
      </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
