<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="center">
      <h3>Item Details:</h3>
      <p><b>Title: </b><%= item.title %></p>
      <p><b>ID: </b><%= item._id %></p>
      <p><b>Plan: </b><%= item.plan %></p>
      <p><b>In Shopping cart: </b>
      <% if (item.inCart) { %>
            <i class="small material-icons">thumb_up</i>
        <% } else { %>
          <i class="small material-icons">thumb_down</i>
        <% } %>
      </p>
    <a href="/items" class="btn btn-primary">Back</a>
    <a href="/items/<%= item._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
